/* html {
  height: 100%;
  width: 100%;
  font-family: "Titillium Web", sans-serif;
}

body {
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(pink, violet);
}

button {
  font-size: 7px;
}

#main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.3);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}

#list {
  margin: 10px;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
} */


body {
  background: #9dddf5;
  font-family: "Courier New";
}

#main-content {
  background: #ffffff;
  position: absolute;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  height: 100%;
  padding-left: 2%;
}

input {
  font-family: "Courier New";
  
}

h1 {
  text-align: center;
  font-weight: bold;
}

span {
  margin-left: 10px;
  text-decoration-line: underline;
  color: black;
}

select {
  font-family: "Courier New";
}

/* p {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
} */

/* .footer {
  position: fixed;
  bottom: 0;
  width: 60%;
  height: 5%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: right;
  background: yellow;
  line-height: 5%;
} */
